@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spline+Sans+Mono:wght@300;400;500;600;700&display=swap');

$bgColor: #F7F7F7;
$whiteColor: #FFFFFF;
$grayColor: #768088;
$blackColor: #14274A;
$orangeColor: #E0B973;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none !important;
  font-family: 'Spline Sans Mono', monospace;

}

html {
  body {
    button {
      background: #E0B973;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      padding: 18px 24px;
      margin-left: 44px;
    }

    header {
      width: 100%;

      .navbar-brand {
        img {
          max-width: 186px;
        }
      }

      .nav-item {
        &.acitve {
          .nav-link {
            color: #fff !important;
          }
        }
      }
    }

    main {
      section {
        &.main {
          display: flex;
          align-items: center;
          min-height: 90vh;
          flex-flow: column;
          background: url("../images//Bg-Picture.png") center / cover no-repeat;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            background-color: rgba(20, 39, 74, 0.502);
          }

          .btn-g {
            width: 100%;
            display: flex;
            justify-content: center;
          }

          header,
          .container-section {
            position: relative;
            z-index: 1;
          }

          .container-section {
            padding-top: 80px;
            color: #fff;
          }

          h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 61px;
          }

          h1 {
            margin-top: -2rem;
            font-style: normal;
            font-weight: 700;
            font-size: 154px;
            line-height: 185px;
            letter-spacing: 0.07em;
          }

          h3 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 61px;
            margin-top: -2rem;
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 0.1em;
            color: #FFFFFF;

          }

        }

        .div003 {
          bottom {
            margin: 0 auto;
          }
        }

        &.redefined {
          padding-top: 83px;

          .container {
            .row-2 {
              margin-top: 70px;
            }

            .col-12 {
              margin-bottom: 95px;

              h2 {
                font-family: 'Montserrat', sans-serif;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                line-height: 44px;
                color: #14274A;
              }
            }

            .col-6 {
              h1 {
                font-style: normal;
                font-weight: 700;
                font-size: 60px;

                letter-spacing: 0.02em;
                color: #14274A;

              }

              p {
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                font-family: 'Montserrat', sans-serif;

                color: #14274A;
              }
            }
          }
        }
      }

      .div {
        text-align: center;
        margin: 115px 0 236px;

        h2 {

          font-family: 'Adobe Garamond Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 60px;
          line-height: 72px;


          color: #14274A;
        }

        h3 {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          font-family: 'Montserrat', sans-serif;
          line-height: 37px;



          color: #14274A;
        }

        h5 {
          font-family: 'Montserrat';
          font-style: normal;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 25px;
          line-height: 30px;

          color: #14274A;
        }
      }
    }


  }
}

footer {
  text-decoration: none;
  background-color: #14274A;
  color: #FFFFFF;

  bottom {
    background-color: #E0B973;

  }

  .form-control,
  .input-group-text {
    border: 2px solid #E0B973;
  }

  .form-control {
    background: none;

    &::placeholder {
      color: #fff;
    }
  }

  .input-group-text {
    background: #E0B973;
  }

}
