@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spline+Sans+Mono:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none !important;
  font-family: 'Spline Sans Mono', monospace;
}

html body button {
  background: #E0B973;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 18px 24px;
  margin-left: 44px;
}

html body header {
  width: 100%;
}

html body header .navbar-brand img {
  max-width: 186px;
}

html body header .nav-item.acitve .nav-link {
  color: #fff !important;
}

html body main section.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: url("../images//Bg-Picture.png") center/cover no-repeat;
  position: relative;
}

html body main section.main::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgba(20, 39, 74, 0.502);
}

html body main section.main .btn-g {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body main section.main header,
html body main section.main .container-section {
  position: relative;
  z-index: 1;
}

html body main section.main .container-section {
  padding-top: 80px;
  color: #fff;
}

html body main section.main h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
}

html body main section.main h1 {
  margin-top: -2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 154px;
  line-height: 185px;
  letter-spacing: 0.07em;
}

html body main section.main h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  margin-top: -2rem;
}

html body main section.main p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

html body main section .div003 bottom {
  margin: 0 auto;
}

html body main section.redefined {
  padding-top: 83px;
}

html body main section.redefined .container .row-2 {
  margin-top: 70px;
}

html body main section.redefined .container .col-12 {
  margin-bottom: 95px;
}

html body main section.redefined .container .col-12 h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #14274A;
}

html body main section.redefined .container .col-6 h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 0.02em;
  color: #14274A;
}

html body main section.redefined .container .col-6 p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #14274A;
}

html body main .div {
  text-align: center;
  margin: 115px 0 236px;
}

html body main .div h2 {
  font-family: 'Adobe Garamond Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  color: #14274A;
}

html body main .div h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  line-height: 37px;
  color: #14274A;
}

html body main .div h5 {
  font-family: 'Montserrat';
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #14274A;
}

footer {
  text-decoration: none;
  background-color: #14274A;
  color: #FFFFFF;
}

footer bottom {
  background-color: #E0B973;
}

footer .form-control,
footer .input-group-text {
  border: 2px solid #E0B973;
}

footer .form-control {
  background: none;
}

footer .form-control::-webkit-input-placeholder {
  color: #fff;
}

footer .form-control:-ms-input-placeholder {
  color: #fff;
}

footer .form-control::-ms-input-placeholder {
  color: #fff;
}

footer .form-control::placeholder {
  color: #fff;
}

footer .input-group-text {
  background: #E0B973;
}
/*# sourceMappingURL=main.css.map */